
	// @mixin flex_b_c {
	// 	display: flex;
	// 	justify-content: space-between;
	// 	align-items: center;
	// }

	// @mixin flex_a_c {
	// 	display: flex;
	// 	justify-content: space-around;
	// 	align-items: center;
	// }
	// @mixin flex_c_c {
	// 	display: flex;
	// 	justify-content: center;
	// 	align-items: center;
	// }

	// @mixin flex_d_c_c {
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: center;
	// 	justify-content: center;
	// }

	uni-page-body,html,body {
		// background: #0f0638 !important;
		// .uni-input-placeholder{
		// 	color: rgb(192, 196, 204);
		// }
	}